.button {
  background: #0000000A;
  border-radius: 5px;
  font: 600 14px Arial;
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
  position: relative;
}

.button_hover {
  background: #0000001A;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
}


.button:not(.button_loading) .spinner {
  display: none;
}

.button_loading .button-text {
  visibility: hidden;
}